.review-booking-bg-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
}

.navigate-bar {
  width: 90%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-top: 2px solid #e2dede;
  padding: 20px;
  font-family: sans-serif;
}

.navigate-heading {
  font-size: 20px;
  font-family: sans-serif;
  margin-left: 10px;
}

.amount-heading {
  font-size: 20px;
  font-family: sans-serif;
}
.amount-details-other-details-container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.amount-details-container {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 15px;
  margin-left: 0px;
}

.amount-show {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 2px solid #e2dede;
  border-radius: 10px;
  padding: 20px;
}

.family {
  font-size: 12px;
  color: #201e1e;
  font-family: sans-serif;
}

.family-btn {
  font-size: 12px;
  color: #fffdfd;
  font-family: sans-serif;
}

.caption {
  color: #21fd6e;
  font-weight: 600;
  font-size: 25px;
}

.rupees {
  font-size: 12px;
  font-family: sans-serif;
}

.right-arrow {
  color: #21fd6e;
  font-weight: 600;
  font-size: 25px;
}
.apply-caption {
  width: 100%;
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #eeebeb;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.continue-btn {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #21fd6e;
  color: #ffffff;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 700;
  margin: 0px;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

.text-container {
  width: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-size: 20px;
  margin: 0px;
}
